.header{
  padding: 6px;
background: rgb(51, 122, 183) none repeat scroll 0% 0%;
color: white;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
text-align: left;
}

.data{
  padding: 6px;
  text-align: left;
  border: 1px solid #ddd;
  border-top: 0;
}


.data:hover{
  color: #555;
text-decoration: none;
background-color: #f5f5f5;
}


.refresh{
  position: relative;
  top: 30px;
}

.refresh img{
  width: 30px;
  float: right;
  cursor: pointer;
}
