@font-face{
	font-family: 'Bungee Shade';
	src: url(../fonts/BungeeShade-Regular.ttf);
}

@font-face{
	font-family: 'Coiny';
	src: url(../fonts/Coiny-Regular.ttf);
}

@font-face{
	font-family: 'Ewert';
	src: url(../fonts/Ewert-Regular.ttf);
}

@font-face{
	font-family: 'Nosifer';
	src: url(../fonts/Nosifer-Regular.ttf);
}

@font-face{
	font-family: 'Shrikhand';
	src: url(../fonts/Shrikhand-Regular.ttf);
}

@font-face{
	font-family: 'Sonsie One';
	src: url(../fonts/SonsieOne-Regular.ttf);
}

@font-face{
	font-family: 'Spicy Rice';
	src: url(../fonts/SpicyRice-Regular.ttf);
}

.main-image{
	cursor:grab;
	background: rgb(101, 199, 198) none repeat scroll 0% 0%;
}

.question{
	height:500px;
	width:800px;
	position:absolute;
	top: calc(50% - 250px);
	left: calc(50% - 400px);
	right: 0;
	background-color:#111;
	display: none;
	border-radius:90%;
	border: 10px solid white;
	z-index:200;

}

.question-text{
	max-height: 50%;
	overflow-y: scroll;
	padding: 20px;
}

.part2{
	display: flex;
	height: 100%;
	width: 100%;

}

.question-portion{
	background-color: white;
	height:100%;
	width:500px;
}
.battle-portion{
	height:100%;
	width:300px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
}

.battle-portion h1{
	color: white;
	font-size:70px;
}

.battle-portion .pokemon-image{
	height:130px;

	margin-top:30px;
	margin-bottom: 30px;
}

.question-portion h1{
	color: green;
	font-size:35px;
	font-weight:bold;
	text-align: center;
	font-family: 'Coiny', cursive;
}

.question-portion p{
	padding: 20px;
}

.btn-submit-answer, .close-ques-box {
	width:80%;
	background-color: #111;
	border: 2px solid #111;
	color: white;
	font-size: 14px;
	height: auto;
	font-weight: bold;
	padding: 14px 0;
	text-transform: uppercase;
	margin-top: 20px;
	transition: all 0.3s linear;
}
.btn-submit-answer:hover,
.close-ques-box:hover{
	color: white;
	font-weight: bold;
	background-color: green;
	border-color: green;
}

input[type="text"] {

	border: 1px solid #111;
	border-top:none;
	border-left:none;
	border-right:none;
	font-size: 14px;
	border-radius: 0px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width:96%;
}

.part1{
	height: 100%;
	width: 100%;
	display: flex;
	align-items:center;
	flex-direction:column;
	justify-content:space-around;
	background-color: black;
	border-radius:100%;
	border: 1px solid white;


 }

 .part1 div{
	width: 100%;
	display: flex;
	justify-content:space-around;
	align-items:center;

 }

.part1 .pokemon-image{
	height:200px;

}

.part1 .vs{
	color: black;
	font-size:70px;
	font-weight: bold;
	border-radius:100%;
	background-color:white;
	padding:20px;
}

.btn-play {
	width:20%;
	background:transparent;
	border: 2px solid white;
	color: white;
	font-size: 14px;
	height: auto;
	font-weight: bold;
	padding: 14px 0;
	text-transform: uppercase;
	margin-top: 20px;
	transition: all 0.3s linear;
	font-family:'Sonsie One';
}
.btn-play:hover{
	color: #111;
	background-color: white;
}

#scoreboard{
	height:500px;
	width:650px;
	position:absolute;
	top:10%;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: #111;
	display: none;
	border-radius:20px;
	z-index:2;
	border: 7px solid white;
}

#scoreboard-2{
	display: none;
}

#rulebook{
	height:500px;
	width:600px;
	position:absolute;
	top:10%;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: #111;
	display: none;
	border-radius:20px;
	z-index:2;
	border: 7px solid white;
}

#scoreboard .heading h1{
	color:#ffb31a;
	font-weight:bold;
	text-align:center;
	font-size:40px;
	font-family:'Sonsie One';

}

#scoreboard .heading{
	padding:10px;
}

.scoreboard-img{
	height: 200px;

}

.btn-close{
	width:20%;
	background:transparent;
	color: white;
	font-size: 14px;
	height: auto;
	font-weight: bold;
	padding: 8px 0;
	text-transform: uppercase;
	transition: all 0.3s linear;
	border: 2px solid white;
	font-family: 'Sonsie One';
}
.btn-close:hover{
	color: #111;
	background-color:#ffb31a;
	border-color:#ffb31a;
}

#rulebook .heading h1{
	color:#ffb31a;
	font-family: 'Bungee Shade', cursive;
	text-align:center;
	font-size:35px;
	font-family:'Sonsie One';


}

#rulebook .heading{
	padding:10px;
	border: 1px solid transparent;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;

}
#rulebook ul{
      padding-right: 10px;
    }
#rulebook li{
      color: white;
      margin-bottom: 8px;

      font-size: 12px;
      font-weight: bold;
    }

.rulebook-img{
	height: 150px;

	margin-left:20px;
}

div::-webkit-scrollbar {
    width: 0.5em;
    background-color: #111;

}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #111;

}

div::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid slategrey;
}

div{
  scrollbar-base-color: white;
  scrollbar-track-color: white;
  scrollbar-arrow-color: white;
}

#finish{
	height:200px;
	width:400px;
	position:absolute;
	top:30%;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: #111;
	display: none;
	z-index:2;
	border: 4px solid white;
}

#finish h1{
	text-align: center;
	font-size: 30px;
	color: #ffb31a;
	margin-top: 30px;
	font-family: 'Sonsie One', cursive;
}

#finish .btn{
	width:20%;
	background:transparent;
	color: white;
	font-size: 12px;
	height: auto;
	font-weight: bold;
	padding: 5px 0;
	text-transform: uppercase;
	transition: all 0.3s linear;
	border: 2px solid white;
	margin-top: 5px;
	font-family: 'Sonsie One';
}
#finish .btn:hover{
	color: #111;
	background-color: white;
}

#finish p{
	text-align: center;
	font-size: 20px;
	color: white;
	margin-top: 30px;
}


/**svg**/


/**sidebar**/
.w3-sidenav{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto;padding-top: 50px;}
.w3-sidenav a{padding:20px 2px 20px 16px; color: white;}
.w3-sidenav a:hover, .w3-sidenav a:focus{background-color:#ffb31a; color: #111;}
.w3-sidenav a, a{display:block}
.w3-xxlarge{font-size:36px!important}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}

.tooltip {
    position: fixed;
    z-index:10;
}

.question-stop:hover{
	cursor:pointer;
}

.background{
	display: none;
}








/**battle portion**/
.poke1
{
  position:absolute;
	bottom: 240px;
	left: 0%;
}

@media screen and (max-width:1100px) {
	.poke1{
		bottom: 180px;
	}


}
.poke1 img
{
	height: 240px;
	position: absolute;
	top: 60%;

}
.poke2
{
	position: absolute;
	top: 5%;
	right: 0%;
}
.poke2 img
{
  height:200px;
}
.bub
{
	width: 80px;
height: 80px;
 	-moz-border-radius: 52px;
 	-webkit-border-radius: 52px;
 	border-radius: 52px;
	background-size: 100% 100%;
    position:fixed;
		left: 180px;
		bottom: 120px;
		animation: spin 1.5s linear infinite;
}
.bub1
{
	width: 80px;
height: 80px;
 	-moz-border-radius: 52px;
 	-webkit-border-radius: 52px;
 	border-radius: 52px;
	background-size: 100% 100%;

  position:fixed;
	right: 200px;
top: 170px;
animation: spin 1.5s linear infinite reverse;

}

.part3{
	display:none;
	height:100%;
	width:100%;
}

.att ,.back{
	width:15%;
	background:transparent;
	color: white;
	font-size: 15px;
	height: auto;
	font-weight: bold;
	padding: 15px 0;
	text-transform: uppercase;
	border: 2px solid white;
	margin-top: 5px;
	margin-right: 10px;
	font-family: 'Sonsie One';
}

.back{
	display: none;
}

.att:hover,.back:hover{
	color:white;
	background-color: black;
	border-color:black;
}

.msg{
	position: absolute;
	top:70%;
	left:60%;
	width:400px;
	height:150px;
}










#entry-fee{
	height:450px;
	width:400px;
	position:absolute;
	top: calc(50% - 225px);
	left: calc(50% - 200px);
	right: 0;
	background: #111;
	display: none;
	z-index:200;
	border: 8px solid white;
	border-radius:10px;
}

.modal-button-wrap{
	display: flex;
	justify-content: center;
}

#entry-fee .btn{
	width:25%;
	position: relative;
left: -20%;
	background:transparent;
	color: white;
	font-size: 12px;
	height: auto;
	font-weight: bold;
	padding: 10px 0;
	text-transform: uppercase;
	transition: all 0.3s linear;
	border: 2px solid white;
	/*margin-top: 25px;*/
	/*margin-bottom:30px;*/
	font-family: 'Sonsie One';
}
#entry-fee .btn:hover{
	color: #111;
	background-color: #ffb31a;
	border-color: #ffb31a;
}

#entry-fee h1{
	text-align:center;
	font-size:35px;
	margin:30px;
	font-weight:bold;
	font-family: 'Sonsie One';
	color: white;
}
#entry-fee h2{
	text-align:center;
	font-size:35px;
	margin:30px;
	font-family: 'Shrikhand';
	color: #ffb31a;
}

#entry-fee img{
	height: 150px;
}

.background, .background2{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	display: none;
}

#congrats, #repair,#evolve{
	height:500px;
	width:600px;
	position:absolute;
	top: calc(50% - 250px);
	left: calc(50% - 300px);
	right: 0;
	/*margin: 0 auto;*/
	background: #111;
	display: none;
	border-radius:20px;
	z-index:2;
	border: 7px solid white;
	background-position: center;
}



#congrats{
	height:560px;
	top: calc(50% - 280px);
	z-index: 3;
}
.xp-img{
	height: 200px;
	width: 200px;
	margin-left:30px;
}

#congrats p, #evolve p{
	text-align: center;
	color: white;
	font-size: 40px;
	font-family: 'Shrikhand', cursive;


}

#congrats h6{
	color: white;
	font-family: 'Shrikhand', cursive;
	font-size: 20px;
	margin-bottom: 30px;
}

#congrats h1,#evolve h1{
	font-family: 'Bungee Shade', cursive;
	text-align: center;
	font-size: 40px;
	color: #ffb31a;
	margin-top: 50px;
}

#repair h1{
	text-align: center;
	font-size: 50px;
	color: red;
	margin-top: 30px;
	font-family: 'Nosifer', cursive;
}

#repair p{
	text-align: center;
	color: white;
	font-size: 30px;
	font-family: 'Shrikhand', cursive;
}

#repair h5{
	text-align: center;
	font-size: 40px;
	color: #ff0000;
	margin-bottom:30px;
	font-family: 'Spicy Rice', cursive;
}

.center-img{
	height: 200px;
	width: 150px;
	margin-left:40px;
}
#evolve h1{
	font-size: 50px;
	margin-top: 25px;
}
#evolve p{
	color: #ffb31a;
}



.progress {background: rgba(250, 245, 245, 0.27); border: 0px solid rgba(250, 245, 245, 1);  height: 22px;width:90%; margin-top:30px; margin-bottom:0px;margin-left:30px;}
.progress-bar-custom {background: rgba(240, 159, 9, 1);

white-space: nowrap;}

.poke-stop{
	/*transform:(0,0);*/
	transition: all 0.5s;
}

.poke-stop:hover{
	transform: translate(0,-10px);
	/*transition all 0.3s;*/
}

/**change pokestop color on hover**/
.poke-stop-color{
	transition: all 0.3s;
}

.changeColorStop{
	fill:#ffb31a !important;
}



.poke-gym{
	/*transform:(0,0);*/
	transition: all 0.5s;
}



.poke-gym:hover{
	transform: translate(0,-10px);
	/*transition all 0.3s;*/
}
.poke-gym-color{
	transition: all 0.3s;
}

.changeColorGym{
	fill:#ffb31a !important;
}

.poke-gym-color2{
	transition: all 0.3s;
}

.changeColorGym-2{
	fill:#111 !important;
}


/**change pokestop color on visits**/
.changeColorStop1{
	fill:green;
}

.changeColorStop2{
	fill:blue;
}

.changeColorStop3{
	fill:black;
}

.disabled{
	opacity: 0.7;
	cursor: not-allowed;
	pointer-events: none;
}

.poke-center-disabled{
 -webkit-filte : grayscale(100% );
 filte :  grayscale(100% );
}

.poke-center{
	cursor: pointer;
}


.changeColorGym1{
	fill:#ff0066;
}
.changeColorGym2{
	fill:#ffff00;
}
.changeColorGym3{
	fill:black;
}

.changeColorGym1-2{
	fill:black;
}
.changeColorGym2-2{
	fill:black;
}
.changeColorGym3-2{
	fill:black;
}


#pokecenter h1{
	text-align: center;
	font-size: 50px;
	color: #ffb31a;
	margin-top: 30px;
	font-family: 'Sonsie One', cursive;


}

#pokecenter p{
	text-align: center;
	color: white;
	font-size: 25px;
	font-family: 'Shrikhand', cursive;
}

#pokecenter h5{
	text-align: center;
	font-size: 35px;
	color: #ff0000;
	margin-bottom:30px;
	font-family: 'Shrikhand', cursive;
}

#pokecenter{
	height:500px;
	width:600px;
	position:absolute;
	top: calc(50% - 250px);
	left: calc(50% - 300px);
	right: 0;
	/*margin: 0 auto;*/
	background: #111;
	border-radius:20px;
	display: none;
	z-index:200;
	border: 7px solid white;
	background-position: center;
}

/**new changes for scoreboard at the side**/

#scoreboard-2{
	padding: 6px 12px;
	position:fixed;
	top:1%;
	right: 10px;
	border-radius:5px;
	z-index:2;

	background: rgba(17, 17, 17, 0.8);
}

.scoreboard-img-2{
	height: 60px;

}


#form_error{
	color: white;
	background: red ;
	 width: 50%;
	  text-align: center
}
