body{

	 height:100%;
	  width:100%;
	  background-size: 'cover';
	  display:flex;
}

@font-face{
	font-family: 'Sonsie One';
	src: url(../fonts/SonsieOne-Regular.ttf);
}

#part2{
	display: flex;
	flex-direction:column;
	justify-content:center;
	width:50%;
	height:100%;
	align-items:center;

}

#part1{
	width:50%;
	height:100%;
	display: flex;
	align-items:center;
	justify-content:center;
}

#part2 h1{
	color:white;
	font-family:;
	font-size:50px;
	text-align: center;

}

.select-pokemon-img{
	height: 150px;
	-webkit-transition: -webkit-transform .8s ease-in-out;
     transition: transform .8s ease-in-out;
}

.select-pokemon h1{
	text-transform: uppercase;
}

.select-pokemon-img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.row{
	padding: 40px;
}
.col-sm-6{
	margin-bottom: 20px;
	border-radius:20px;
	padding: 10px;
	transition: all 0.3s linear;
	cursor: pointer;
	width: 45% !important;
	margin-right:20px;

}

.col-sm-6:hover{
	background-color: #ffb31a;
}

.col-sm-6 h1{
	font-size: 17px;
	color: white;
	font-family:'Sonsie One';
}

.active{
	background-color: #ffb31a;
}


#lets-go{
	width:35%;
	background:transparent;
	color: white;
	font-size: 18px;
	height: auto;
	font-weight: bold;
	padding: 20px 0px;
	border: 2px solid white;
	border-radius: 5px;
	text-align: center;
	margin-top: 50px;
	text-decoration: none;
	display: none;
	font-family: 'Sonsie One';
	transition:all ease 0.3s;
}

#lets-go:hover{
	color: #111;
	background: #ffb31a;
	cursor: pointer;
	border-color: #ffb31a;
	font-weight: bolder;
}
